<?xml version="1.0"?>

<config>
    <modules>
        <September_Adminshipping>
            <version>1.0.0</version>
        </September_Adminshipping>
    </modules>
    <global>
        <models>
            <adminshipping>
                <class>September_Adminshipping_Model</class>
            </adminshipping>
            <shipping>
                <rewrite>
                    <shipping>September_Adminshipping_Model_Shipping</shipping>
                </rewrite>
            </shipping>
        </models>
        <blocks>
            <adminshipping>
                <class>September_Adminshipping_Block</class>
            </adminshipping>
        </blocks>
        <helpers>
            <adminshipping>
                <class>September_Adminshipping_Helper</class>
            </adminshipping>
        </helpers>
    </global>
    <default>
        <carriers>
            <september_adminshipping>
                <active>1</active>
                <sallowspecific>0</sallowspecific>
                <model>adminshipping/carrier_adminshipping</model>
                <name>Selbstabholung</name>
                <title>Selbstabholung</title>
                <specificerrmsg>This method is currently not activated</specificerrmsg>
            </september_adminshipping>
        </carriers>
    </default>
</config>
